/* todo: follow ng-material components */
header {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  background: linear-gradient(to bottom, #dce4f3, #83b6ed);
  color: var(--mat-sys-on-secondary);
}

#header-img {
  border-radius: 1rem;
  width: 20%;
  opacity: 0.6;
  margin: 0 2rem;
}
