@if (isFetching()) {
  <h3>Loading blogs...</h3>
}
<a routerLink="./" [queryParams]="{ sorted: sorted() === 'asc' ? 'desc' : 'asc' }"
  ><mat-chip id="contrast-chip" (click)="onClickSort()">
    <mat-icon>{{ sorted() === 'asc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
  </mat-chip></a
>
@for (blog of blogs(); track blog.id) {
  <a [routerLink]="['//blog-app/blog-detail/', blog.id]">
    <app-blog
      [blog]="blog"
      [author]="getAuthorEmail(blog.author)"
      [category]="getCategoryDesc(blog.category)"
    />
  </a>
  <!-- <app-blog
    [blog]="blog"
    [author]="getAuthorEmail(blog.author)"
    [category]="getCategoryDesc(blog.category)"
    (click)="onClickBlog(blog.id)"
  /> -->
} @empty {
  <h5>Wow, such empty...</h5>
}
