form {
  display: flex;
  flex-direction: column;
  width: 250px; /* todo: make responsive */
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 2px;
  background: linear-gradient(180deg, #014f86, #015cbb);
  /* background: var(--mat-sys-on-surface); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  display: flexbox;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 5%;
  gap: 0.5rem;
}

label {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color: whitesmoke;
  display: block;
  font-weight: bold;
}

button {
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: goldenrod;
}

button:hover {
  background-color: rgb(214, 196, 153);
}

input {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 80%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #aaf1d6;
}
