<!-- todo: Minimize repetition with other components, blog etc. -->
@if (!blogVoteDetail()) {
  <h3>Blog Detail works! blogId: {{ blogId() }}</h3>
  <h3>Loading...</h3>
}
<!-- @if (!updateBlog) { -->
<mat-card class="content-card blog-card" [appearance]="blogAppearance">
  <mat-card-header class="content-card-header blog-card-header">
    <mat-card-title class="content-card-title blog-card-title">{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>{{ blogVoteDetail()?.content }}</h3>
    <div class="content-card-meta">
      <h4>
        {{ categorySubject() }}
      </h4>
      <h3>total votes:{{ totalVotes }}, comments:{{ comments().length }}</h3>
      <!-- <h3>( more_content_here? )</h3> -->
    </div>
    <p>{{ author.email }}</p>
    <p>{{ blogVoteDetail()?.updated_at | date: 'medium' }}</p>
  </mat-card-content>
  <mat-card-footer class="content-card-footer blog-card-footer">
    <mat-chip-set class="content-card-footer-votes" aria-label="Blog actions">
      <mat-chip [id]="voteMap.love ? 'chip-selected' : ''"
        ><mat-icon>sentiment_very_satisfied</mat-icon></mat-chip
      >
      <mat-chip [id]="voteMap.like ? 'chip-selected' : ''"><mat-icon>thumb_up</mat-icon></mat-chip>
      <mat-chip [id]="voteMap.meh ? 'chip-selected' : ''"><mat-icon>thumb_down</mat-icon></mat-chip>
      <mat-chip [id]="voteMap.downVote ? 'chip-selected' : ''"
        ><mat-icon>sentiment_very_dissatisfied</mat-icon></mat-chip
      >
    </mat-chip-set>
    <mat-chip-set class="content-card-footer-actions" aria-label="Blog actions">
      @if (user().id === author.id) {
        <mat-chip (click)="onClickUpdateBlog()"><mat-icon>mode_edit</mat-icon></mat-chip>
        <mat-chip (click)="onClickDeleteBlog()"><mat-icon>delete</mat-icon></mat-chip>
      }
      <mat-chip><mat-icon>arrow_downward</mat-icon></mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card>
@for (comment of comments(); track comment.id) {
  <app-comment [comment]="comment" [author]="authorInfo(comment.author)" />
}
<!-- } @else {
  <app-update-blog [blogDetail]="blogDetail()" (cancel)="onCancelUpdate()" /> 
} -->
